<ion-content class="loading-page" fullscreen>
  <div class="wrapper">
    
    <!-- Center Content -->
    <div class="center-content">
      <h2>MILK MAN</h2>
    </div>

    <!-- Bottom Icons -->
    <div class="bottom-icons">
      <img src="../../../assets/footerImg/image1.png" />
      <img src="../../../assets/footerImg/image2.png" />
      <img src="../../../assets/footerImg/image3.png" />
      <img src="../../../assets/footerImg/image4.png" />
      <img src="../../../assets/footerImg/image5.png" />
      <img src="../../../assets/footerImg/image6.png" />
    </div>

  </div>
</ion-content>
