<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="big-icon p-4" name="person-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

 <ion-card class="main-card">
    <ion-card-content class="d-flex flex-row justify-content-center " >
      <ion-card class="p-3 rounded-3 bg-transparent border border-2">
        <ion-card-content>
          <h3>20 Lr.</h3>
          <br>
          <h4>20 Days</h4>
        </ion-card-content>
        <p>Per Day Fix 1lr</p> 
      </ion-card>
       <ion-card>
        <ion-card-content>
          <h3>Papppu .</h3>
          <br>
          <h4>20 Days</h4>
        </ion-card-content>
        <p>Per Day Fix 1lr</p> 
      </ion-card>
    </ion-card-content>
</ion-card>

</ion-content>