<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="big-icon p-4" name="person-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

 <ion-card class="main-card me-4 ms-4 mt-5">
    <ion-card-content class="d-flex flex-row justify-content-center " >
      <ion-card class="w-50 rounded-5 bg-transparent border border-2">
        <ion-card-content class="rounded-5 ">
          <p class="card-heading-1 fw-bolder text-black ms-3">20 Lr.</p>
          <p class="text-black fw-bold ms-5">20 Days</p>
        </ion-card-content>
      </ion-card>
      <ion-card class="p-1 w-75 rounded-5 bg-transparent border border-2">
        <ion-card-content class="">
          <p class="card-heading-2 fw-bolder text-black"><ion-icon class="me-2" name="location"></ion-icon>Pappu Dairy Lr.</p>
          <p class="ms-4 text-black fw-bold">55 Lr</p>
          <p class="ms-4 text-black fw-bold">7:30 - 8:30 Am</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
    <ion-icon class="addCircleOutline" name="add-circle-outline"></ion-icon> <hr>
    <ion-card-content class="border rounded-bottom-4 h-100">
      
    </ion-card-content>
  </ion-card>

</ion-content>