
ion-content {
  --background: linear-gradient(to left, #a6f2f9, #dfbbfb);
  /* ✅ Gradient background */
}


/* Avatar Icon */
.big-icon {
  font-size: 40px;
  color: #3b3b3b;
}

/* Add Circle Icon */
.addCircleOutline {
  font-size: 30px;
  color: var(--ion-color-primary);
}

/* Main Card Responsive Width */
.main-card {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  --background:none;
}

/* Calendar Styling */
.small-calendar {
  --min-height: 180px;
  --max-height: 220px;
  --width: 100%;
  font-size: 14px;
}

/* Calendar Container */
.cal-card {
   --background:none;
}
.cal-container {
  flex: 1 1 45%;
   --background: linear-gradient(to left, #a6f2f9, #dfbbfb);
  border-radius: 10px;
  
}
